

.header {

    .icons-container{
      margin-top: 10px;
      display: flex;
    }
    
    .icons{
      flex: 1;
              display: flex;
              height: 50px;
              width: 50px;
     }

     .spacer{
       flex: 1;
     }

   
}


// toc ***************************


.toc{
  background: white;
  color: black;
  font-weight: 300;

  .toc-heading{

    font-size: 1.3rem;
    font-weight:normal;
    padding: 10px;

    padding: 20px;
  }

 
   .tree{

     list-style: none;

    //  box-shadow: 0 0 5px rgb(102, 105, 103);


     padding: 5px;
     margin: 0;

     .tree-item{
         margin-bottom: 15px ;

         display: flex;

         align-items: center;
         justify-content: center;

         padding: 10px;

         border-radius: 10px;

         box-shadow: 0 0 2px 2px rgb(223, 221, 221);

            .data-topic{
              
              flex: 1;

              display:inline-flex;

              justify-content:center;
              align-items:center;
            
              background-color: rgb(91, 91, 209);
             border-radius: 10px;;
             
             
             padding: 10px;
              max-width: 50px;
              max-height: 50px;


             
              min-width:  50px;
              min-height:   50px;
            }

            .data-language{

                flex: 2;
                padding-left: 15px;
            }   
            
             .data-start{

                 max-width: 60px;
              max-height: 60px;
             
              min-width: 60px;
              min-height: 60px;
                flex: 1;
                padding-left: 15px;

                display: flex;
            }   


           



     }
   }
}
