

*, 
*::before,
*::after{
 
     margin: 0;
     box-sizing: border-box;
   
}

body{
     background: #FFF;
}


.root{
     margin:0 auto;
  
     color: white;

     align-items: center;
     justify-content: center;

}

.root , .root > * {
    max-width: 450px;
    min-width: 450px;
}

.header {
    min-height: 250px;
    background: url(../images/codingBanner.jpg) ;
   
    border-radius: 10px ;

    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    
    .hero-text-large{
    background: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
    } 
}

// toc ***************************

.progress-bar-container
{
     display:flex;
     align-items: center;
     justify-content: center;
      margin-top: 20px;
     .progress-bar{
        font-size: xx-large;
        padding: 10px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  

        // background: linear-gradient(90deg, red, blue);
        // background-clip: text;
        // color: transparent;

        // background: -webkit-linear-gradient(90deg, red, blue);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;


        .levels-text{
           margin-bottom: 20px;

           .level{

               display:inline-flex;
               border: 8px solid white;
               border-radius: 50%;
               width: 50px;
               height: 50px;
              
               justify-content: center;
               align-items: center;
          

               margin : 0 auto;
           }
        }

        .levels{
          display: flex;
          justify-content: space-between;
          border: 1px solid black;

          background-color:rgba(255, 255, 255, 0.7);

          border-radius: 10px;

          padding: 10px;

              .p{
                background-color: green;
                min-width: 10px;
                min-height: 10px;
                flex-basis: 8%;
              }
        }
    }


  }

// toc ***************************

.toc{
  background: white;
  color: black;
  font-weight: 300;

  .toc-heading{

    font-size: 1.3rem;
    font-weight:normal;
    padding: 10px;

    padding: 20px;
  }

 
   .tree{

     list-style: none;

    //  box-shadow: 0 0 5px rgb(102, 105, 103);


     padding: 5px;
     margin: 0;

     .tree-item{
         margin: 0;

         padding: 10px;

         border-radius: 155px;

        //  border: 1px solid rgb(102, 105, 103);

         box-shadow: 0 0 5px 5px rgb(223, 221, 221);

       .data-icon{

            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid green;

            display:block;

            margin: auto auto;

            display:inline-flex;

            justify-content: center;
            align-items: center;

            }

            .data-language{

                padding-left: 15px;
            }      

     }
   }
}
